In [1]:
import pandas as pd

# การอ่านไฟล์ excel

pd.read_excel('DATAFILE.xlsx')

   Jan  Feb
0    5   12
1    4   55
2    5    6

In [9]:
import pandas as pd

#  การสร้างไฟล์  excel
df = pd.DataFrame({1,2,3,4,5,6})
df.to_excel('test.xlsx')

# อ่านไฟล์ที่สร้าง
pd.read_excel('test.xlsx')

   Unnamed: 0  0
0           0  1
1           1  2
2           2  3
3           3  4
4           4  5
5           5  6

In [11]:
import pandas as pd
import numpy as np

#  การสร้างไฟล์  excel
df = pd.Series(np.random.randint(10,100,5))
df.to_excel('test2.xlsx')

# อ่านไฟล์ที่สร้าง
pd.read_excel('test2.xlsx')

   Unnamed: 0   0
0           0  51
1           1  37
2           2  38
3           3  57
4           4  19