In [12]:
import pandas as pd
import json

# df_json = pd.read_json('data.json')
# df_json.to_excel('data.xlsx')

pd.read_excel('test2.xlsx')

   Unnamed: 0   0
0           0  51
1           1  37
2           2  38
3           3  57
4           4  19